<header>
  <h1>Rayca Rafaelle</h1>
  <nav>
    <a href="#projetos">Projetos</a>
    <a href="#sobre">Sobre mim</a>
    <a href="#contato">Contato</a>
    <a class="github" href="https://github.com/raycapmbmgc" target="_blank">GitHub</a>
  </nav>
</header>
